*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Baloo Thambi 2', sans-serif;
}

h1,h2{
    font-weight: 700;;
}

h3,h4,h5{
    font-weight: 600;
}

header{
    background: silver;
}

.nav-items li{
    padding-top: 12px;
    padding-left: 0;
    margin-right: 18px;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 650;
}

.nav-items li:hover{
    background: black;
    height:100%;
}

.nav-items a:hover{
    color:#fff;
}

.nav{
    border:none;
    background: transparent;
}

.hamburger-menu button{
    border:none;
    background: transparent;
}

.hamburger-menu button:hover{
    background: black;
}

.hamburger-menu img:hover{
    filter: brightness(0) invert(1);
}

.switch-box{
    height:20px;
    width:80px;
    margin:5px 0;
    border:1px solid black;
}

.job-title{
    font-weight: 700;
}

.hero-section{
    border-top:4px solid black;
    border-bottom:4px solid black ;
    padding:4rem 0;
}

.hero-section .container{
    justify-content: space-between;
    margin-bottom:3.5rem;
}

.hero-intro{
    font-weight: 700;
    font-size: 5rem;
    line-height: 4.5rem;
}
.hero-img{
    margin-left:1.5rem;
    margin-top: 1.8rem;
    position: relative;
    left: 10%;
}
.hero-profile{
    width:70%;
}

.hero-txt{
    margin-right: 1.5rem;
    padding-top: 28px;
}

.hero-content{
    width:400px;
}

.cv-btn{
    padding: 8px 7px;
    width:150px;
    background: silver;
}

.cv-btn:hover{
    background: black;
}

.cv-btn a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.cv-btn a:hover{
    color:#fff;
}

.link-title{
    margin-left:1.8rem;
}

.quick-links{
    height:0;
}

.link-wrapper{
    bottom:3.5rem;
    z-index:1;
}

.mid-nav{
    bottom:1.5rem;
    z-index:1;
}

.btn a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.btn a:hover{
    color:#fff;
}

.mid-nav .btn{
    width: 22%;
    height:36px;
    outline:3px solid black;
    background: silver;
    list-style: none;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
}

.btn:hover{
    background-color: black;
    color:#fff;
}

.skill-section{
    background: rgb(236, 232, 232);
    padding-top:3rem;
    border-bottom:4px solid black;
}

.skills-wrapper .row{
    padding: 1.2rem 5rem;
}

.tools{
    padding:0;
}

.tools-wrapper{
    justify-content: space-between;
}

.tools li{
    list-style: none;
}

img.arrow{
    width:12px;
}

.big-icon{
    width:64px;
}

.skill-title{
    text-transform:uppercase;
}



.pro{
    width:40.5rem;
    height:20.5rem;
    border: 3px solid black;
    margin:0 1rem;
    box-shadow:6px 6px 0 -1px black;
}

.project-header{
    border-bottom:3px solid black;
    height:2.2rem;
    padding-left:0.5rem;
    background:silver;
    align-items:center;

}

.white-icon{
    display:flex;
}

.white-circle{
    width: 0.8rem;
    height: 0.8rem;
    background: #fff;
    margin-left:0.3rem;
    border-radius:20px;
    border:2px solid black;
}

.project-heading{
    padding-left:4.5rem;
}

@media(max-width:990px){
   .pro{
    width:30rem;
   }

   .projects{
    margin:0 15rem;
   }

   .project-heading{
    padding-left: 8.5rem;
   }
}

@media(max-width:768px){
    .skills-wrapper{
        padding-top: 3rem;
    }

    .skills-wrapper .row{
        padding:0.8rem;
    }
    .mid-nav .btn{
        width:50%;
        padding:0;
        padding:0.2rem 1rem;
    }

    .link-wrapper{
        margin-left: 9.5rem;
        bottom: 6rem;
    }
    
    .mid-nav a{
        font-size: 1.5rem;
    }

    .projects{
        margin:0 10rem;
    }
}

@media(max-width:500px){
    h1,h2,h3{
        font-size: 1.7rem;
    }
    .mobile-nav{
        height:30%;
    }

    .hero-section .container{
        flex-direction: column;
    }

    .link-wrapper{
        margin-left: 6rem;
    }

    .hero-content{
        width: 400px;
    }

    .hero-img{
        display: block;
    }
    .mid-nav a{
        font-size: 1.7rem;
    }

    .pro{
        width:20rem;
        height:30rem;
    }

    .projects{
        margin:0 3rem;
    }

    .project-heading{
        padding-left:4.5rem;
    }
}

@media(max-width:400px){
    .hero-intro{
        font-size:4rem;
    }
    .hero-content{
        margin:0 3.5rem;
    }
}