* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Thambi 2', sans-serif;
}

h1,h2{
    font-weight: 700;
}

h3,h4,h5{
    font-weight: 600;
}

header{
    background: silver;
}

.nav-items li{
    padding-top: 12px;
    padding-left: 0;
    margin-right: 18px;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 650;
}

.nav-items li:hover{
    background: black;
    height:100%;
}

.nav-items a:hover{
    color:#fff;
}

.nav{
    border:none;
    background: transparent;
}

.mobile-nav{
    display: none;
}

.hamburger-menu{
    border-bottom:4px solid black;
}

.hamburger-btn{
    border:none;
    background: transparent;
}

.hamburger-btn:hover{
    background: black;
}

.hamburger-btn img:hover{
    filter: brightness(0) invert(1);
}

.mobile-items{
    min-height:100%;
    display:none;
}

.d-mobile-items{
    display: block;
}

ul.mobile-items{
    margin-bottom:0;
    padding-left: 0;
}

.mobile-items li{
    list-style:none;
    padding:0.8rem 0;
    border-bottom: 4px solid black;
}

.mobile-items li:hover{
    background: #000;
}

.mobile-items a{
    text-decoration: none;
    color:black;
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.mobile-items a:hover{
    color:#fff;
}

.job-title{
    font-weight: 700;
}

.hero-section{
    border-top:4px solid black;
    border-bottom:4px solid black ;
    padding:4rem 0;
}

.hero-wrapper{
    justify-content: space-between;
    margin-bottom:3.5rem;
    padding-top: 1.8rem;
}

.hero-intro{
    font-weight: 700;
    font-size: 5rem;
    line-height: 4.5rem;
}
.hero-img{
    margin-left:1.5rem;
    margin-top: 1.8rem;
    width: 400px;
    right:10%;
    overflow-x:hidden;
}

.hero-img img{
    max-width:100%;
}

.hero-txt{
    margin-right: 1.5rem;
    /* padding-top: 28px; */
}

.hero-content{
    width:400px;
}

.cv-btn{
    padding: 8px 7px;
    width:150px;
    background: silver;
}

.cv-btn:hover{
    background: black;
}

.cv-btn a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.cv-btn a:hover{
    color:#fff;
}

.link-title{
    margin-left:1.8rem;
}

.quick-links{
    height:0;
}

.link-wrapper{
    bottom:3.5rem;
    z-index:1;
    margin:0 4.5rem;
}

.btn a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.btn a:hover{
    color:#fff;
}

.mid-nav .btn{
    width: 22%;
    height:36px;
    outline:3px solid black;
    background: silver;
    list-style: none;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
}

.btn:hover{
    background-color: black;
    color:#fff;
}

.skill-section{
    background: rgb(236, 232, 232);
    padding-top:3rem;
    border-bottom:4px solid black;
}

.skills-wrapper .row{
    padding: 1.2rem 5rem;
}

.tools{
    padding:0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.tool-skill{
    margin-right:5.5rem;
}

.tools-wrapper{
    display:flex;
}

.tools li{
    list-style: none;
}

img.arrow{
    width:12px;
}

.big-icon{
    width:64px;
}

.skill-title{
    text-transform:uppercase;
    text-align:center;
}

.dark-hover{
    display:none;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:60%;
    z-index:3;
}

.dark-btn-{
    position:absolute;
    top:50%;
    left:30%;
    padding:0.6rem 0.8rem;
}

.dark-btn- a{
    text-decoration: none;
    color:#000;
}

.projects-section{
    border-bottom:4px solid black;
}

.projects-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    overflow-x: scroll;
}

.projects-wrapper::-webkit-scrollbar{
    display:none;
}

.projects{
    display: grid;
    grid-auto-flow:column;
    grid-auto-columns:calc((100% /3) - 12px);
    gap:0.8rem;
}

.carosuel-block{
    position: relative;
}

.card-arrow{
   position:absolute;
   /* z-index:2; */
   display:flex;
   justify-content: center;
   cursor:pointer;
   z-index:10;
   /* width:120px; */
}

.card-arrow:hover{
    background: #00000056;
    border-radius:1rem;
}

img.card-arrow{
    max-width:100%;
}

#left{
    transform: translate(0, -50%);
    top: 50%;
    left:0;
}

#right{
    transform: translate(0, -50%);
    top: 50%;;
    right:0;
}

.-card{
    height:100%;
    border: 3px solid black;
    margin:0 1rem;
    box-shadow:6px 6px 0 -1px black;
}

.-card:hover .dark-hover{
    display:block;
}

.card-header{
    border-bottom:3px solid black;
    height:2.2rem;
    padding-left:0.5rem;
    background:silver;
    align-items:center;
}

.white-icon{
    display:flex;
}

.white-circle{
    width: 0.8rem;
    height: 0.8rem;
    background: #fff;
    margin-left:0.3rem;
    border-radius:20px;
    border:2px solid black;
}

.card-heading{
    padding-left:4.5rem;
}

.card-img{
    height:100px;
    max-width:100%;
    border-bottom:3px solid black;
}

#project-01-img{
    background-image:url(./images/Manage\ B\ &\ W.png);
}

#project-02-img{
    background-image:url(./images/URLProject-B\ &\ W.png);
}

#project-03-img{
    background-image: url(./images/Fylo\ website.jpg);
    background-size: cover;
    background-position: top;
    
}

#project-04-img{
    background-image: url(./images/Weather\ App_Website.jpg);
    background-position: top;
    background-size: cover;
}

#project-05-img{
    background-image:url(./images/Insurance\ website.jpg);
}


.card-info{
    background:#fff;
    padding:1.6rem 1.2rem;
}

.card-info p{
    font-size: 0.9rem;
}

.card-btn{
    display:none;
}

.tools-used{
    flex-wrap: wrap;
}

.pro-tool{
    background: silver;
    border:2px solid black;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    padding:0.2rem 0.5rem;
}

.blogz-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.8rem;
}

.blog-section{
    padding:2rem 0;
    background-color: rgb(236, 232, 232);
    border-bottom:4px solid black;
}

.blog{
    width:100%;
}

#blog-01{
    margin-right:1.8rem;
}

#blog-02{
    margin-right: 1.8rem;
}

.blog-btn{
    padding:0.2rem 0.5rem;
    background: silver;
}

.blog-btn:hover{
    background: #000;
}

.blog-btn a{
    font-weight: 500;
    text-decoration: none;
    color:#000;
}

.blog-btn a:hover{
    color:#fff;
}

.contact-section{
    margin:2rem 3rem;
}

.contact{
    width:50%;
}

.card-txt{
    padding:0 2rem;
}

.contact-heading{
    font-size: 3.5rem;
    font-weight: 700;
    margin:0;
}

.contact-form{
    padding-bottom:2rem;
}

.f-form{
    display:flex;
    flex-direction: column;
}

label{
    font-weight: 700;
}

.f-form input, textarea{
    border:3px solid black;
    background-color: silver;
    padding:0.5rem 0.8rem;
}

textarea{
    width:90%;
}

.short-forms{
    gap:1.5rem;
    padding-bottom: 1rem;
}

/* .short-forms input{
    width:90%;
} */

.message-form{
    padding-bottom:1rem;
}

.submit-btn{
    background-color: silver;
    border:3px solid black;
    padding: 0.5rem 0.6rem;
    font-weight: 600;
}

.submit-btn:hover{
     background-color: #000;
     color:#fff;
}

.media_link{
    margin-right:0.5rem;
}

.social_links{
    margin:1.5rem 0;
}

.soc_media{
    width:55px
}

.soc_media img{
    max-width:100%;
}

@media(max-width:992px){
    .hero-section{
        border-top:0;
    }

   .-card{
    margin-bottom:1rem;
   }

   .card-heading{
    padding:0 1rem;
   }

   .-card:hover .dark-hover{
    display:block;
   }

   .projects{
    grid-auto-columns:calc((100% /2) - 8%);
   }

   .blogz-area{
    grid-template-columns: repeat(2, 1fr);
   }

   .contact{
    width:80%;
   }

   .short-forms{
    margin-right:1rem;
   }

}

@media(max-width:768px){
    .skills-wrapper{
        padding-top: 3rem;
    }

    .skills-wrapper .row{
        padding:0.8rem;
    }
    .mid-nav .btn{
        width:57%;
        padding:0;
        padding:0.2rem 1rem;
    }

    .tools{
        margin-left: 6.5rem;
    }

    .tools-used{
        padding-bottom:1rem;
    }

    .link-wrapper{
        bottom: 7.5rem;
        left:15%;
    }
    
    .mid-nav a{
        font-size: 1.5rem;
    }
    
    .card-heading{
        padding-left:4.5rem;
    }

    .-card:hover .dark-hover{
        display:none;
    }

    .card-btn{
        border:none;
        margin:0 auto;
        padding:0.7rem 0.8rem;
    }

    .card-btn:hover{
        background-color: black;
    }

    .card-btn > a{
        text-decoration:none;
        color:black;
    }

    .card-btn > a:hover{
        color:#fff;
    }

    .pro-tool{
        color:#000;
    }

    .blogz-area{
        margin:0 3rem;
    }

    .dark-btn-{
        display:block;
    }

    .short-forms input{
        width:90%;
    }
}

@media(max-width:590px){
    h1,h2,h3{
        font-size: 1.7rem;
    }
    .mobile-nav{
        height:30%;
    }

    .hero-section .container{
        flex-direction: column;
    }

    .hero-img{
        left:8%;
        width:70%;
    }

    .tools{
        margin-left:9rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .link-wrapper{
        margin-left: 1rem;
        left:17%;
    }

    .hero-content{
        width: 400px;
    }

    .hero-img{
        display: block;
        padding: 1.5rem 0;
    }
    .mid-nav a{
        font-size: 1.7rem;
    }

    .projects{
        grid-auto-columns: calc((100% /2) - 20%);
    }

    .project-heading{
        padding-left:4.5rem;
    }

    .blogz-area{
        grid-template-columns:1fr;
    }

    .contact{
        width:100%;
    }

    .short-forms{
        margin-right:0;
    }
    

    .soc_media{
        width:45px
    }
}

@media(max-width:480px){
    .hero-intro{
        font-size:4rem;
    }
    .hero-content{
        margin:0 3.5rem;
    }

    .tools{
        margin-left: 5rem;
    }
}